Repository boostcampwm2023/iOS10-OpenList, pull requests merged in 2023-12, with the labels that each got.

#156 AI 추천 체크리스트 화면 구현
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemDiffableDataSource.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/View/AddCheckListItemButton.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/View/AddCheckListItemHeaderView.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/View/AddCheckListItemPlaceholder.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/View/AddCheckListItemTableViewSectionHeader.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/View/AiCheckListCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/View/SelectCheckListCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/MainCategoryViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/View/SkipButton.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MinorCategoryScene/MinorCategoryViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/SubCategoryScene/SubCategoryViewController.swift
Labels: client, feature

#160 CRDT 한글화
  client/Projects/CRDT/CRDT.xcodeproj/project.pbxproj
  client/Projects/CRDT/CRDT/Operation/MergeAlgorithm.swift
  client/Projects/CRDT/CRDT/RGATreeSplitBalanced/RGASDocument.swift
  client/Projects/CRDT/CRDT/RGATreeSplitBalanced/RGASMerge.swift
  client/Projects/CRDT/CRDT/RGATreeSplitBalanced/RGASTree.swift
  client/Projects/CRDT/CRDTApp/Entity/Comparison.swift
  client/Projects/CRDT/CRDTApp/Extension/String+.swift
  client/Projects/CRDT/CRDTApp/ViewController.swift
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/Data/DTO/CRDTRequestDTO.swift
  client/Projects/OpenList/OpenList/Data/DTO/CRDTResponseDTO.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultCRDTRepository.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultWithCheckListRepository.swift
  client/Projects/OpenList/OpenList/Domain/Entites/Comparison.swift
  client/Projects/OpenList/OpenList/Domain/Entites/TextChange.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/CRDTUseCase.swift
  client/Projects/OpenList/OpenList/Extension/Combine+/Future+.swift
  client/Projects/OpenList/OpenList/Extension/Combine+/Publisher+Operator.swift
  client/Projects/OpenList/OpenList/Extension/Foundation+/Decodable+.swift
  client/Projects/OpenList/OpenList/Extension/Foundation+/String+.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/View/WithCheckListItem.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/WithCheckListScene/WithCheckListViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewFactory.swift
Labels: client, feature, bug

#175 [Server] 웹소켓 히스토리 버그 수정 및 콘솔 로그 추가
  server/docker-compose.yaml
  server/src/shared-checklists/shared-checklists.gateway.ts
Labels: server, bug

#176 [Server] 로거 기능 확대
  server/redis/redis.module.ts
  server/src/app.module.ts
  server/src/common/interceptor/log.interceptor.ts
  server/src/common/middlewares/logger.middleware.ts
  server/src/utils/winston.config.ts
Labels: server, feature

#180 [Server] redis 연결 버그 수정: password부분 주석처리
  server/redis/redis.module.ts
Labels: server, bug

#181 설정 화면 구현
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/App/AppRouter.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultSettingRepository.swift
  client/Projects/OpenList/OpenList/Data/Storages/PrivateCheckListStorage.swift
  client/Projects/OpenList/OpenList/Domain/Entites/SettingItem.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/SettingRepository.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/SettingUseCase.swift
  client/Projects/OpenList/OpenList/Scenes/NavigationScene/Common/TitleHeaderView.swift
  client/Projects/OpenList/OpenList/Scenes/NavigationScene/SettingScene/SettingAction.swift
  client/Projects/OpenList/OpenList/Scenes/NavigationScene/SettingScene/SettingRouter.swift
  client/Projects/OpenList/OpenList/Scenes/NavigationScene/SettingScene/SettingViewController.swift
  client/Projects/OpenList/OpenList/Scenes/NavigationScene/SettingScene/SettingViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/NavigationScene/SettingScene/SettingViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/NavigationScene/SettingScene/View/SettingTableViewCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewFactory.swift
  client/Projects/OpenList/OpenList/Storage/CheckListStorage/DefaultPrivateCheckListStorage.swift
Labels: client, feature

#187 스와이프로 뒤로가기 기능 구현
  client/Projects/OpenList/OpenList/Utils/App/ViewControllable.swift
Labels: client, feature

#188 프로필 화면 구현
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Colors/reverseBackground.colorset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/profile.imageset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/profile.imageset/profile.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/profile.imageset/profile@2x.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/profile.imageset/profile@3x.png
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultProfileRepository.swift
  client/Projects/OpenList/OpenList/DesignSystem/Sources/AlertBuilder.swift
  client/Projects/OpenList/OpenList/DesignSystem/Sources/CustomAlertViewController.swift
  client/Projects/OpenList/OpenList/DesignSystem/Sources/OpenListNavigationItem.swift
  client/Projects/OpenList/OpenList/Domain/Entites/User.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/ProfileRepository.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/AuthUseCase.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/ProfileUserCase.swift
  client/Projects/OpenList/OpenList/Scenes/NavigationScene/ProfileScene/ProfileAction.swift
  client/Projects/OpenList/OpenList/Scenes/NavigationScene/ProfileScene/ProfileRouter.swift
  client/Projects/OpenList/OpenList/Scenes/NavigationScene/ProfileScene/ProfileViewController.swift
  client/Projects/OpenList/OpenList/Scenes/NavigationScene/ProfileScene/ProfileViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/NavigationScene/ProfileScene/ProfileViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableRouter.swift
  client/Projects/OpenList/OpenList/Utils/UserDefaults/Storage.swift
Labels: client, feature

#189 Textfield에서 TextView로 변경
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/DesignSystem/Sources/OpenListTextView.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/DetailCheckListUseCase.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/View/AddCheckListItemPlaceholder.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/View/AddCheckListItemTableViewSectionHeader.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/View/AiCheckListCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/View/SelectCheckListCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/PrivateDetailCheckListScene/PrivateDetailCheckListViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/PrivateDetailCheckListScene/View/LocalCheckListItem.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/View/CheckListItemPlaceholder.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/View/WithCheckListItem.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListViewController.swift
Labels: enhancement, client

#190 [Server] ai generate-server 생성
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  ai/generate-server/.prettierrc
  ai/generate-server/category.const.js
  ai/generate-server/generate-server.js
  ai/generate-server/gpt-data-saver.js
  ai/generate-server/main.js
  ai/generate-server/package.json
  ai/generate-server/redis-pub.js
  ai/generate-server/redis-sub.js
  ai/generate-server/yarn.lock
Labels: enhancement, server, ai

#192 [FE1 - 1] 사용자는 카테고리별 추천 체크리스트를 받고 위아래, 좌우 스크롤하며 볼 수 있다.
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/logo.imageset/120.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/logo.imageset/Contents.json
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultCheckListRepository.swift
  client/Projects/OpenList/OpenList/Domain/Entites/CategoryItem.swift
  client/Projects/OpenList/OpenList/Domain/Entites/CheckList.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/CheckListRepository.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/RecommendCheckListUseCase.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListTitleScene/AddCheckListTitleViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/RecommendTabAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/RecommendTabModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/RecommendTabViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/RecommendTabViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/View/RecommendCategoryTabCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/View/RecommendCategoryTabDiffableDataSource.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/View/RecommendCheckListCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/View/RecommendCheckListDiffableDataSource.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/View/RecommendCheckListItemCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewFactory.swift
Labels: client, feature

#196 [Server] 피드화면 api 구현
  server/src/app.module.ts
  server/src/categories/categories.controller.ts
  server/src/categories/const/categories.const.ts
  server/src/checklist-ai/checklist-ai.controller.spec.ts
  server/src/common/entity/checklist.entity.ts
  server/src/feeds/entity/feed.entity.ts
  server/src/feeds/feeds.controller.ts
  server/src/feeds/feeds.module.ts
  server/src/feeds/feeds.service.spec.ts
  server/src/feeds/feeds.service.ts
Labels: server, feature

#197 [Server] 관리 페이지와 api 구현
  server/package.json
  server/redis/redis.module.ts
  server/redis/redis.service.ts
  server/src/admin/admin.controller.spec.ts
  server/src/admin/admin.controller.ts
  server/src/admin/admin.module.ts
  server/src/admin/admin.service.spec.ts
  server/src/admin/admin.service.ts
  server/src/admin/const/channels.const.ts
  server/src/admin/html/admin.html
  server/src/app.module.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
  server/src/auth/guard/access-token.guard.ts
  server/src/common/interceptor/log.interceptor.ts
  server/src/main.ts
  server/src/shared-checklists/shared-checklists.gateway.ts
  server/yarn.lock
Labels: server, feature

#206 빈 체크리스트가 삭제되도록 수정
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemViewController.swift
Labels: client, bug

#207 체크리스트 삭제 API 연동
  client/Projects/CustomNetwork/CustomNetwork/NetworkService.swift
  client/Projects/CustomNetwork/CustomNetwork/URLRequestBuilder.swift
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultWithCheckListRepository.swift
  client/Projects/OpenList/OpenList/DesignSystem/Sources/CheckListEmptyView.swift
  client/Projects/OpenList/OpenList/Domain/Entites/DeleteCheckListItem.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/CheckListRepository.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/WithCheckListRepository.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/DetailCheckListUseCase.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/PersistenceUseCase.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/WithCheckListUseCase.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/PrivateDetailCheckListScene/PrivateDetailCheckListViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/WithCheckListScene/WithCheckListAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/WithCheckListScene/WithCheckListViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/WithCheckListScene/WithCheckListViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/WithCheckListScene/WithCheckListViewModel.swift
Labels: client, feature

#209 [Server] 클라이언트와 api 연동 작업 (login, socket history)
  server/src/auth/auth.service.spec.ts
  server/src/auth/auth.service.ts
  server/src/shared-checklists/shared-checklists.gateway.ts
Labels: server, feature

#212 feat: History 반영, 제목 반영
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/Data/DTO/CRDTResponseDTO.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultCRDTRepository.swift
  client/Projects/OpenList/OpenList/Domain/Entites/WithCheckListItemDetail.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/CRDTRepository.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/CRDTUseCase.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListViewController.swift
Labels: enhancement, client, feature

#211 피드 뷰 네비게이션 바 추가
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/RecommendTabRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/RecommendTabViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/RecommendTabViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewFactory.swift
Labels: client, feature

#214 동시편집 긴급 오류 수정
  client/Projects/OpenList/OpenList/Domain/UseCases/CRDTUseCase.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/View/WithCheckListItemCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListViewController.swift
Labels: client, bug

#220 [Server] ai와 관련한 db 구조 개선
  server/src/app.module.ts
  server/src/categories/categories.module.ts
  server/src/categories/entities/category.entity.ts
  server/src/checklist-ai/checklist-ai.module.ts
  server/src/checklist-ai/entities/ai-checklist-item-naver-reason.entity.ts
  server/src/checklist-ai/entities/ai-checklist-item.ts
  server/src/checklist-ai/entities/checklist-ai.entity.ts
  server/src/common/entities/base.entity.ts
  server/src/common/entities/checklist.entity.ts
  server/src/common/entity/checklist.entity.ts
  server/src/feeds/entities/feed.entity.ts
  server/src/feeds/feeds.module.ts
  server/src/feeds/feeds.service.spec.ts
  server/src/feeds/feeds.service.ts
  server/src/folders/entities/folder.entity.ts
  server/src/folders/private-checklists/entities/private-checklist.entity.ts
  server/src/shared-checklists/entities/shared-checklist-item.entity.ts
  server/src/shared-checklists/entities/shared-checklist.entity.ts
  server/src/users/entities/user.entity.ts
Labels: server, feature

#221 [Server] 카테고리 데이터 배열 입력 처리, promise pool 방식 도입, env 방식으로 변경
  ai/generate-server/generate-server.js
  ai/generate-server/gpt-data-saver.js
  ai/generate-server/main.js
  ai/generate-server/package.json
  ai/generate-server/redis-sub.js
  ai/generate-server/yarn.lock
Labels: server, feature, ai

#223 [Server] admin 페이지 항목 자동 추가 , 시스템 상태 그래프 추가
  server/redis/redis.service.ts
  server/src/admin/admin.controller.ts
  server/src/admin/const/channels.const.ts
  server/src/admin/html/admin.html
  server/src/admin/js/serverStatus.js
Labels: server, feature

#228 [Server] 카테고리별 아이템 개수 확인 및 개수로 item 생성 로직
  server/src/checklist-ai/checklist-ai.controller.ts
  server/src/checklist-ai/checklist-ai.service.ts
Labels: server, feature, ai

#232 release: server 0.1.9
  .gitignore
  server/.dockerignore
  server/.eslintrc.js
  server/.gitignore
  server/.prettierrc
  server/Dockerfile
  server/README.md
  server/docker-compose.yaml
  server/nest-cli.json
  server/package.json
  server/public/index.html
  server/public/main.css
  server/src/app.controller.spec.ts
  server/src/app.controller.ts
  server/src/app.module.ts
  server/src/app.service.ts
  server/src/checklists/checklists.module.ts
  server/src/checklists/dto/create-private-checklist.dto.ts
  server/src/checklists/dto/create-shared-checklist.dto.ts
  server/src/checklists/dto/update-private-checklist.dto.ts
  server/src/checklists/dto/update-shared-checklist.dto.ts
  server/src/checklists/entities/private-checklist.entity.ts
  server/src/checklists/entities/shared-checklist.entity.ts
  server/src/checklists/private-checklists.controller.ts
  server/src/checklists/private-checklists.service.spec.ts
  server/src/checklists/private-checklists.service.ts
  server/src/checklists/shared-checklists.controller.ts
  server/src/checklists/shared-checklists.service.ts
  server/src/common/common.controller.spec.ts
  server/src/common/common.controller.ts
  server/src/common/common.module.ts
  server/src/common/common.service.spec.ts
  server/src/common/common.service.ts
  server/src/common/entity/base.entity.ts
  server/src/common/entity/checklist.entity.ts
  server/src/folders/dto/create-folder.dto.ts
  server/src/folders/dto/update-folder.dto.ts
  server/src/folders/entities/folder.entity.ts
  server/src/folders/folders.controller.ts
  server/src/folders/folders.module.ts
  server/src/folders/folders.service.spec.ts
  server/src/folders/folders.service.ts
  server/src/main.ts
  server/src/users/dto/create-user.dto.ts
  server/src/users/dto/update-user.dto.ts
  server/src/users/entities/user.entity.ts
  server/src/users/users.controller.spec.ts
  server/src/users/users.controller.ts
  server/src/users/users.module.ts
  server/src/users/users.service.spec.ts
  server/src/users/users.service.ts
  server/test/app.e2e-spec.ts
  server/test/jest-e2e.json
  server/test/test-common.module.ts
  server/tsconfig.build.json
  server/tsconfig.json
  server/yarn.lock
Labels: server

#239 [Server] ai evaluate server 생성
  ai/evaluate-server/.gitignore
  ai/evaluate-server/RedisPub.js
  ai/evaluate-server/evaluate-api.js
  ai/evaluate-server/main.js
  ai/evaluate-server/package.json
  ai/evaluate-server/postgres.js
  ai/evaluate-server/trigger.js
  ai/evaluate-server/yarn.lock
Labels: feature, ai

#240 [Server] 카테고리 api db 방식으로 업데이트, 인공지능 응답 api db 캐싱 구조로 개선
  server/src/categories/categories.controller.ts
  server/src/categories/categories.service.ts
  server/src/categories/const/categories.const.ts
  server/src/categories/const/valid-ids.const.ts
  server/src/checklist-ai/checklist-ai.controller.ts
  server/src/checklist-ai/checklist-ai.service.ts
  server/src/checklist-ai/const/ai-options.const.ts
  server/src/checklist-ai/const/request-option.const.ts
  server/src/checklist-ai/const/system-role.const.ts
  server/src/checklist-ai/dto/create-checklist-items.dto.ts
Labels: enhancement, server, feature

#235 함께 체크리스트 Subject 호출 부 변경 및 인원수 표시
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/WithCheckListScene/WithCheckListCell.swift
Labels: enhancement, client, feature

#243 Custom Network 쿼리 파라미터 기능 추가, API 수정 반영
  .DS_Store
  client/Projects/CustomNetwork/CustomNetwork/URLRequestBuilder.swift
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/AppIcon.appiconset/1024.png
  client/Projects/OpenList/OpenList/Data/DTO/CategoryResponseDTO.swift
  client/Projects/OpenList/OpenList/Data/DTO/RecommendChecklistResponseDTO.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultCategoryRepository.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultCheckListRepository.swift
  client/Projects/OpenList/OpenList/Domain/Entites/CategoryItem.swift
  client/Projects/OpenList/OpenList/Domain/Entites/RecommendChecklistItem.swift
Labels: enhancement, client, feature

#244 CRDT 메모리 누수 해결
  client/Projects/CRDT/CRDT/RGATreeSplitBalanced/RGASNode.swift
  client/Projects/CRDT/CRDT/RGATreeSplitBalanced/RGASTree.swift
  client/Projects/OpenList/OpenList/Utils/KeyChain/AccessTokenInterceptor.swift
Labels: client, bug

#250 [Server] jwt 토큰 만료 시간 환경변수화
  server/src/auth/auth.service.ts
Labels: enhancement, server

#248 CRDT 셀 삭제 오류 수정
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/View/WithCheckListItemCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListDiffableDataSource.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListViewController.swift
Labels: client, bug

#253 Token 갱신 로직 구현
  client/Projects/CustomNetwork/CustomNetwork/CustomSession.swift
  client/Projects/CustomNetwork/CustomNetwork/NetworkService.swift
  client/Projects/CustomNetwork/CustomNetwork/RequestRetrier.swift
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/App/SceneDelegate.swift
  client/Projects/OpenList/OpenList/Data/DTO/TokenResponseDTO.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultAuthRepository.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/AuthRepository.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewFactory.swift
  client/Projects/OpenList/OpenList/Utils/Network/AccessTokenInterceptor.swift
  client/Projects/OpenList/OpenList/Utils/Network/OAtuhRequestRetrier.swift
  client/Projects/OpenList/OpenList/Utils/Network/RefreshTokenInterceptor.swift
Labels: client, feature

#256 함께 셀 그림자 디자인 수정
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/WithCheckListScene/WithCheckListCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/WithCheckListScene/WithCheckListViewController.swift
Labels: client, feature

#257 다크모드 지원
  client/Projects/CustomNetwork/CustomNetwork/RequestRetrier.swift
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Colors/background.colorset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Colors/gray1.colorset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Colors/gray2.colorset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Colors/gray3.colorset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Colors/primary1.colorset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Colors/secondary2.colorset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Colors/shadow1.colorset/Contents.json
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultAuthRepository.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultCRDTRepository.swift
  client/Projects/OpenList/OpenList/DesignSystem/Sources/ConfirmButton.swift
  client/Projects/OpenList/OpenList/DesignSystem/Sources/CustomAlertViewController.swift
  client/Projects/OpenList/OpenList/DesignSystem/Sources/OpenListTextField.swift
  client/Projects/OpenList/OpenList/DesignSystem/Sources/OpenListTextView.swift
  client/Projects/OpenList/OpenList/Scenes/LoginScene/LoginViewController.swift
  client/Projects/OpenList/OpenList/Scenes/LoginScene/LoginViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/NavigationScene/ProfileScene/ProfileViewController.swift
  client/Projects/OpenList/OpenList/Scenes/NavigationScene/SettingScene/SettingViewController.swift
  client/Projects/OpenList/OpenList/Scenes/NavigationScene/SettingScene/View/SettingTableViewCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/View/AddCheckListItemHeaderView.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListTitleScene/AddCheckListTitleViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/View/CategoryCollectionViewCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/View/CategoryHeaderView.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/View/CategoryProgressView.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListFolderScene/View/CheckListFolderCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/View/CheckListTableCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/View/GaugeView.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/PrivateDetailCheckListScene/PrivateDetailCheckListViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/PrivateDetailCheckListScene/View/LocalCheckListItem.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/View/CheckListHeaderView.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/View/CheckListItemTextField.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/SharedCheckListScene/View/SharedCheckListCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/WithCheckListScene/WithCheckListCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/WithCheckListScene/WithCheckListViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/RecommendTabViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/View/RecommendCheckListCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/View/RecommendCheckListItemCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewFactory.swift
Labels: enhancement, client

#259 Update README
  README.md
Labels: enhancement

#261 Update README
  README.md
Labels: enhancement

#268 Main에 ai 저장소 합치기
  .gitignore
  ai/evaluate-server/.gitignore
  ai/evaluate-server/RedisPub.js
  ai/evaluate-server/evaluate-api.js
  ai/evaluate-server/main.js
  ai/evaluate-server/package.json
  ai/evaluate-server/postgres.js
  ai/evaluate-server/trigger.js
  ai/evaluate-server/yarn.lock
  ai/generate-server/.prettierrc
  ai/generate-server/category.const.js
  ai/generate-server/generate-server.js
  ai/generate-server/gpt-data-saver.js
  ai/generate-server/main.js
  ai/generate-server/package.json
  ai/generate-server/redis-pub.js
  ai/generate-server/redis-sub.js
  ai/generate-server/yarn.lock
Labels: ai
