Repository boostcampwm2023/iOS10-OpenList, pull requests merged in 2023-11, with the labels that each got.

#4 [Server] 개발환경 세팅
  .gitignore
  server/.eslintrc.js
  server/.gitignore
  server/.prettierrc
  server/README.md
  server/nest-cli.json
  server/package.json
  server/src/app.controller.spec.ts
  server/src/app.controller.ts
  server/src/app.module.ts
  server/src/app.service.ts
  server/src/main.ts
  server/test/app.e2e-spec.ts
  server/test/jest-e2e.json
  server/tsconfig.build.json
  server/tsconfig.json
  server/yarn.lock
Labels: server

#6 [Client] iOS 프로젝트 설계
  client/.gitignore
  client/OpenList.xcworkspace/contents.xcworkspacedata
  client/OpenList.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  client/Projects/CustomNetwork/CustomNetwork.xcodeproj/project.pbxproj
  client/Projects/CustomNetwork/CustomNetwork/CustomNetwork.swift
  client/Projects/CustomSocket/CustomSocket.xcodeproj/project.pbxproj
  client/Projects/CustomSocket/CustomSocket/CustomSocket.swift
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/App/AppComponent.swift
  client/Projects/OpenList/OpenList/App/AppDelegate.swift
  client/Projects/OpenList/OpenList/App/AppRouter.swift
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Base.lproj/LaunchScreen.storyboard
  client/Projects/OpenList/OpenList/App/Resources/Info.plist
  client/Projects/OpenList/OpenList/App/SceneDelegate.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultSampleRepository.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/SampleRepository.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/SampleUseCase.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddTabRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddTabViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddTabViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/RecommendTabRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/RecommendTabViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/RecommendTabViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarPage.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewFactory.swift
  client/Projects/OpenList/OpenList/Utils/App/Component.swift
  client/Projects/OpenList/OpenList/Utils/App/Dependency.swift
  client/Projects/OpenList/OpenList/Utils/App/Factoryable.swift
  client/Projects/OpenList/OpenList/Utils/App/ViewBindable.swift
  client/Projects/OpenList/OpenList/Utils/App/ViewControllable.swift
  client/Projects/OpenList/OpenList/Utils/App/ViewModelable.swift
Labels: client

#19 프로젝트 소개 작성
  README.md
Labels: enhancement

#25 Server/feature/#13
  server/.dockerignore
  server/.gitignore
  server/Dockerfile
  server/docker-compose.yaml
  server/package.json
  server/src/app.entity.ts
  server/src/app.module.ts
  server/yarn.lock
Labels: server, feature

#26 iOS 프로젝트 추가 설정
  client/.gitattributes
  client/Projects/CustomNetwork/.swiftlint.yml
  client/Projects/CustomNetwork/CustomNetwork.xcodeproj/project.pbxproj
  client/Projects/CustomSocket/.swiftlint.yml
  client/Projects/CustomSocket/CustomSocket.xcodeproj/project.pbxproj
  client/Projects/OpenList/.swiftlint.yml
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/App/AppComponent.swift
  client/Projects/OpenList/OpenList/App/AppDelegate.swift
  client/Projects/OpenList/OpenList/App/AppRouter.swift
  client/Projects/OpenList/OpenList/App/SceneDelegate.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/SampleUseCase.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewFactory.swift
  client/Projects/OpenList/OpenList/Utils/App/Dependency.swift
  client/Templates/Butterfly.xctemplate/TemplateIcon.png
  client/Templates/Butterfly.xctemplate/TemplateIcon@2x.png
  client/Templates/Butterfly.xctemplate/TemplateInfo.plist
  client/Templates/Butterfly.xctemplate/___FILEBASENAME___Action.swift
  client/Templates/Butterfly.xctemplate/___FILEBASENAME___Router.swift
  client/Templates/Butterfly.xctemplate/___FILEBASENAME___ViewController.swift
  client/Templates/Butterfly.xctemplate/___FILEBASENAME___ViewFactory.swift
  client/Templates/Butterfly.xctemplate/___FILEBASENAME___ViewModel.swift
  client/Templates/README.md
  client/Templates/install-xcode-template.sh
Labels: infra

#27 사용자는 생성한 체크리스트를 리스트형태로 볼수 있다.
  client/Projects/CustomNetwork/.swiftlint.yml
  client/Projects/CustomNetwork/CustomNetwork/CustomNetwork.swift
  client/Projects/CustomSocket/.swiftlint.yml
  client/Projects/CustomSocket/CustomSocket/CustomSocket.swift
  client/Projects/OpenList/.swiftlint.yml
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/Domain/Entites/CheckListTableItem.swift
  client/Projects/OpenList/OpenList/Extension/Publisher+Operator.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/View/CheckListTableCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/View/GaugeView.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewFactory.swift
Labels: client, feature

#30 테스트용 유저 API 구현
  server/docker-compose.yaml
  server/package.json
  server/src/app.module.ts
  server/src/common/common.controller.spec.ts
  server/src/common/common.controller.ts
  server/src/common/common.module.ts
  server/src/common/common.service.spec.ts
  server/src/common/common.service.ts
  server/src/common/entity/base.entity.ts
  server/src/main.ts
  server/src/users/dto/create-user.dto.ts
  server/src/users/dto/update-user.dto.ts
  server/src/users/entities/user.entity.ts
  server/src/users/users.controller.spec.ts
  server/src/users/users.controller.ts
  server/src/users/users.module.ts
  server/src/users/users.service.spec.ts
  server/src/users/users.service.ts
  server/yarn.lock
Labels: server

#32 [Server] 유닛 테스트 환경 세팅
  server/package.json
  server/src/users/users.controller.spec.ts
  server/src/users/users.service.spec.ts
  server/test/test-common.module.ts
Labels: server, feature

#34 [Server] Users resource 이름 변경
  server/src/app.module.ts
  server/src/users/entities/user.entity.ts
  server/src/users/users.controller.spec.ts
  server/src/users/users.controller.ts
  server/src/users/users.module.ts
  server/src/users/users.service.spec.ts
  server/src/users/users.service.ts
  server/test/test-common.module.ts
Labels: server, feature

#37 네트워크 모듈 구성
  client/Projects/CustomNetwork/.swiftlint.yml
  client/Projects/CustomNetwork/CustomNetwork.xcodeproj/project.pbxproj
  client/Projects/CustomNetwork/CustomNetwork.xcodeproj/xcshareddata/xcschemes/CustomNetworkTests.xcscheme
  client/Projects/CustomNetwork/CustomNetwork/CustomNetwork.swift
  client/Projects/CustomNetwork/CustomNetwork/CustomSession.swift
  client/Projects/CustomNetwork/CustomNetwork/NetworkError.swift
  client/Projects/CustomNetwork/CustomNetwork/NetworkService.swift
  client/Projects/CustomNetwork/CustomNetwork/RequestInterceptor.swift
  client/Projects/CustomNetwork/CustomNetwork/RequestRetrier.swift
  client/Projects/CustomNetwork/CustomNetwork/URLRequestBuilder.swift
  client/Projects/CustomNetwork/CustomNetworkTests/Mock/MockURLProtocol.swift
  client/Projects/CustomNetwork/CustomNetworkTests/NetworkServiceTests.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/View/CheckListTableCell.swift
Labels: client, infra

#39 [Server] 테스트용 유저 API 테스트
  server/src/users/users.service.spec.ts
Labels: server, feature

#42 [Server] Folder entity 생성 및 crud 구현
  server/src/app.entity.ts
  server/src/app.module.ts
  server/src/folders/dto/create-folder.dto.ts
  server/src/folders/dto/update-folder.dto.ts
  server/src/folders/entities/folder.entity.ts
  server/src/folders/folders.controller.ts
  server/src/folders/folders.module.ts
  server/src/folders/folders.service.spec.ts
  server/src/folders/folders.service.ts
Labels: server, feature

#44 사용자는 체크리스트의 항목을 볼 수 있다.
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Colors/gray3.colorset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/circle.imageset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/circle.imageset/checkCircle.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/circle.imageset/checkCircle@2x.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/circle.imageset/checkCircle@3x.png
  client/Projects/OpenList/OpenList/Extension/UIKit/UITableView+Extensions.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/DetailCheckListAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/DetailCheckListDiffableDataSource.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/DetailCheckListRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/DetailCheckListViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/DetailCheckListViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/DetailCheckListViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/View/CheckListHeaderView.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/View/CheckListItemButton.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/View/CheckListItemPlaceholder.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/View/CheckListItemTextField.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/View/LocalCheckListItem.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/View/LocalCheckListItemCell.swift
Labels: client, feature

#43 체크리스트 제목 생성
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  client/Projects/OpenList/OpenList.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  client/Projects/OpenList/OpenList.xcodeproj/xcshareddata/xcschemes/OpenList.xcscheme
  client/Projects/OpenList/OpenList.xcodeproj/xcshareddata/xcschemes/OpenListTests.xcscheme
  client/Projects/OpenList/OpenList/App/AppComponent.swift
  client/Projects/OpenList/OpenList/Data/LocalStorage/CoreDataStorage.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultPersistenceRespository.swift
  client/Projects/OpenList/OpenList/DesignSystem/Sources/ConfirmButton.swift
  client/Projects/OpenList/OpenList/DesignSystem/Sources/OpenListTextField.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/PersistenceRepository.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/PersistenceUseCase.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/ValidCheckUseCase.swift
  client/Projects/OpenList/OpenList/Extension/Combine+/UIButton+Combine.swift
  client/Projects/OpenList/OpenList/Extension/Combine+/UIControl+Combine.swift
  client/Projects/OpenList/OpenList/Extension/Combine+/UITextField+Combine.swift
  client/Projects/OpenList/OpenList/Extension/String+.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddTabAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddTabRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddTabViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddTabViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddTabViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewFactory.swift
  client/Projects/OpenList/OpenList/Utils/App/ViewControllable.swift
Labels: client, feature

#46 fix: `addTabViewController`가 메모리에서 해제 안 되는 버그 수정
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewFactory.swift
Labels: client, bug

#48 chore: ci/cd를 위한 main.yml 추가
  .github/workflows/main.yml
Labels: infra

#64 Server/feature/#63
  .gitignore
  server/.dockerignore
  server/.eslintrc.js
  server/.gitignore
  server/.prettierrc
  server/Dockerfile
  server/README.md
  server/docker-compose.yaml
  server/nest-cli.json
  server/package.json
  server/public/index.html
  server/public/main.css
  server/src/app.controller.spec.ts
  server/src/app.controller.ts
  server/src/app.module.ts
  server/src/app.service.ts
  server/src/checklists/checklists.module.ts
  server/src/checklists/dto/create-private-checklist.dto.ts
  server/src/checklists/dto/create-shared-checklist.dto.ts
  server/src/checklists/dto/update-private-checklist.dto.ts
  server/src/checklists/dto/update-shared-checklist.dto.ts
  server/src/checklists/entities/private-checklist.entity.ts
  server/src/checklists/entities/shared-checklist.entity.ts
  server/src/checklists/private-checklists.controller.ts
  server/src/checklists/private-checklists.service.spec.ts
  server/src/checklists/private-checklists.service.ts
  server/src/checklists/shared-checklists.controller.ts
  server/src/checklists/shared-checklists.service.ts
  server/src/common/common.controller.spec.ts
  server/src/common/common.controller.ts
  server/src/common/common.module.ts
  server/src/common/common.service.spec.ts
  server/src/common/common.service.ts
  server/src/common/entity/base.entity.ts
  server/src/common/entity/checklist.entity.ts
  server/src/folders/dto/create-folder.dto.ts
  server/src/folders/dto/update-folder.dto.ts
  server/src/folders/entities/folder.entity.ts
  server/src/folders/folders.controller.ts
  server/src/folders/folders.module.ts
  server/src/folders/folders.service.spec.ts
  server/src/folders/folders.service.ts
  server/src/main.ts
  server/src/users/dto/create-user.dto.ts
  server/src/users/dto/update-user.dto.ts
  server/src/users/entities/user.entity.ts
  server/src/users/users.controller.spec.ts
  server/src/users/users.controller.ts
  server/src/users/users.module.ts
  server/src/users/users.service.spec.ts
  server/src/users/users.service.ts
  server/test/app.e2e-spec.ts
  server/test/jest-e2e.json
  server/test/test-common.module.ts
  server/tsconfig.build.json
  server/tsconfig.json
  server/yarn.lock
Labels: server, feature, infra

#70 [Server] Winston으로 로그 관리
  .github/PULL_REQUEST_TEMPLATE.md
  server/package.json
  server/src/app.module.ts
  server/src/common/middlewares/logger.middleware.ts
  server/src/utils/winston.config.ts
  server/yarn.lock
Labels: server, feature

#71 Server/feature/#69
  server/.gitignore
  server/package.json
  server/src/app.module.ts
  server/src/auth/auth.controller.spec.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.spec.ts
  server/src/auth/auth.service.ts
  server/src/auth/dto/login-user.dto.ts
  server/src/auth/dto/register-user.dto.ts
  server/src/auth/entities/auth.entity.ts
  server/src/users/dto/create-user.dto.ts
  server/src/users/entities/user.entity.ts
  server/src/users/users.service.spec.ts
  server/src/users/users.service.ts
  server/yarn.lock
Labels: server, feature

#73 코어데이터 생성 및 체크리스트 제목 저장 기능 구현
  client/Projects/OpenList/.swiftlint.yml
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList.xcodeproj/xcshareddata/xcschemes/OpenListTests.xcscheme
  client/Projects/OpenList/OpenList/App/AppComponent.swift
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/add.tab.imageset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/add.tab.imageset/add.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/add.tab.imageset/add@2x.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/add.tab.imageset/add@3x.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/checklist.tab.imageset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/checklist.tab.imageset/checkList.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/checklist.tab.imageset/checkList@2x.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/checklist.tab.imageset/checkList@3x.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/recommand.tab.imageset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/recommand.tab.imageset/invalidName.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/recommand.tab.imageset/invalidName@2x.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/recommand.tab.imageset/invalidName@3x.png
  client/Projects/OpenList/OpenList/Data/DTO/LocalStorageCheckListResponseDTO.swift
  client/Projects/OpenList/OpenList/Data/LocalStorage/CoreDataStorage.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultCheckListRepository.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultPersistenceRespository.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultSampleRepository.swift
  client/Projects/OpenList/OpenList/Data/Storages/CheckListStorage.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/CheckListRepository.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/PersistenceRepository.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/SampleRepository.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/PersistenceUseCase.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/SampleUseCase.swift
  client/Projects/OpenList/OpenList/Extension/Future+.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddTabViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/DetailCheckListAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/DetailCheckListDiffableDataSource.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/DetailCheckListViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/DetailCheckListViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/DetailCheckListViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/View/CheckListItemPlaceholder.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailCheckListScene/View/LocalCheckListItem.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/RecommendTabScene/RecommendTabViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarPage.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewFactory.swift
  client/Projects/OpenList/OpenList/Storage/CheckListStorage/DefaultCheckListStorage.swift
  client/Projects/OpenList/OpenList/Storage/CoreDataStorage/CoreDataStorage.swift
  client/Projects/OpenList/OpenList/Storage/CoreDataStorage/CoreDataStorage.xcdatamodeld/CoreDataStorage.xcdatamodel/contents
  client/Projects/OpenList/OpenListTests/CoreDataStorageTests.swift
  client/Projects/OpenList/OpenListTests/Mock/MockEntity.swift
Labels: client, feature

#74 CRDT 프레임워크 구현
  client/OpenList.xcworkspace/contents.xcworkspacedata
  client/Projects/CRDT/.swiftlint.yml
  client/Projects/CRDT/CRDT.xcodeproj/project.pbxproj
  client/Projects/CRDT/CRDT.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  client/Projects/CRDT/CRDT.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  client/Projects/CRDT/CRDT/CRDT.h
  client/Projects/CRDT/CRDT/Common/CRDTError.swift
  client/Projects/CRDT/CRDT/Common/LinkedList.swift
  client/Projects/CRDT/CRDT/Common/Node.swift
  client/Projects/CRDT/CRDT/Common/Position.swift
  client/Projects/CRDT/CRDT/Operation/CRDT.swift
  client/Projects/CRDT/CRDT/Operation/CRDTMessage.swift
  client/Projects/CRDT/CRDT/Operation/Document.swift
  client/Projects/CRDT/CRDT/Operation/LocalOperation.swift
  client/Projects/CRDT/CRDT/Operation/MergeAlgorithm.swift
  client/Projects/CRDT/CRDT/Operation/OpType.swift
  client/Projects/CRDT/CRDT/Operation/Operation.swift
  client/Projects/CRDT/CRDT/Operation/OperationBasedMessage.swift
  client/Projects/CRDT/CRDT/Operation/OperationBasedMessagesBag.swift
  client/Projects/CRDT/CRDT/Operation/OperationBasedOneMessage.swift
  client/Projects/CRDT/CRDT/Operation/SequenceOperation.swift
  client/Projects/CRDT/CRDT/Operation/VectorClock.swift
  client/Projects/CRDT/CRDT/RGATreeSplitBalanced/RGASDeletion.swift
  client/Projects/CRDT/CRDT/RGATreeSplitBalanced/RGASDocument.swift
  client/Projects/CRDT/CRDT/RGATreeSplitBalanced/RGASInsertion.swift
  client/Projects/CRDT/CRDT/RGATreeSplitBalanced/RGASMerge.swift
  client/Projects/CRDT/CRDT/RGATreeSplitBalanced/RGASNode.swift
  client/Projects/CRDT/CRDT/RGATreeSplitBalanced/RGASOperation.swift
  client/Projects/CRDT/CRDT/RGATreeSplitBalanced/RGASS3Vector.swift
  client/Projects/CRDT/CRDT/RGATreeSplitBalanced/RGASTree.swift
  client/Projects/CRDT/CRDTApp/AppDelegate.swift
  client/Projects/CRDT/CRDTApp/Assets.xcassets/AccentColor.colorset/Contents.json
  client/Projects/CRDT/CRDTApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  client/Projects/CRDT/CRDTApp/Assets.xcassets/Contents.json
  client/Projects/CRDT/CRDTApp/Base.lproj/LaunchScreen.storyboard
  client/Projects/CRDT/CRDTApp/Info.plist
  client/Projects/CRDT/CRDTApp/SceneDelegate.swift
  client/Projects/CRDT/CRDTApp/ViewController.swift
  client/Projects/CRDT/CRDTApp/WebSocket.swift
  client/Projects/CustomNetwork/CustomNetwork.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
Labels: client

#78 [Server] shared-checklist 소켓 구현
  server/package.json
  server/src/app.module.ts
  server/src/main.ts
  server/src/shared-checklists/shared-checklists.gateway.ts
  server/src/shared-checklists/shared-checklists.module.ts
  server/yarn.lock
Labels: server, feature

#86 [Server] apple oauth api 구현
  server/package.json
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
  server/src/auth/dto/auth-user.dto.ts
  server/src/auth/dto/register-user.dto.ts
  server/src/users/dto/create-user.dto.ts
  server/src/users/dto/update-user.dto.ts
  server/src/users/entities/user.entity.ts
  server/src/users/users.service.ts
  server/yarn.lock
Labels: server, feature

#83 [Server] access 토큰 재발급시 유저 정보 없는 버그 수정
  server/src/auth/auth.service.spec.ts
  server/src/auth/auth.service.ts
  server/src/auth/dto/register-user.dto.ts
  server/src/common/entity/base.entity.ts
  server/src/folders/entities/folder.entity.ts
  server/src/folders/folders.controller.ts
  server/src/folders/folders.service.spec.ts
  server/src/folders/folders.service.ts
  server/src/folders/private-checklists/entities/private-checklist.entity.ts
  server/src/folders/private-checklists/private-checklists.controller.ts
  server/src/folders/private-checklists/private-checklists.service.spec.ts
  server/src/folders/private-checklists/private-checklists.service.ts
  server/src/shared-checklists/entities/shared-checklist.entity.ts
  server/src/shared-checklists/shared-checklists.service.ts
  server/src/users/dto/create-user.dto.ts
  server/src/users/dto/update-user.dto.ts
  server/src/users/users.controller.ts
  server/src/users/users.service.spec.ts
  server/src/users/users.service.ts
Labels: server, bug

#118 [Server] apple oauth 로그인 로직 수정
  server/package.json
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
  server/src/auth/dto/auth-user.dto.ts
  server/src/users/users.service.ts
  server/yarn.lock
Labels: server, feature, bug

#115 체크리스트 동시편집자 초대 구현
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/App/DeepLinkTarget.swift
  client/Projects/OpenList/OpenList/App/SceneDelegate.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultCheckListRepository.swift
  client/Projects/OpenList/OpenList/Data/Storages/CheckListStorage.swift
  client/Projects/OpenList/OpenList/Domain/Entites/CheckList.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/CheckListRepository.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/DetailCheckListUseCase.swift
  client/Projects/OpenList/OpenList/Extension/UIKit/UIFont+.swift
  client/Projects/OpenList/OpenList/Extension/UIKit/UIImage+Resize.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/PrivateDetailCheckListScene/PrivateDetailCheckListViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/PrivateDetailCheckListScene/PrivateDetailCheckListViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/PrivateDetailCheckListScene/PrivateDetailCheckListViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListViewModel.swift
  client/Projects/OpenList/OpenList/Storage/CheckListStorage/DefaultCheckListStorage.swift
Labels: client, feature

#121 빌드 오류 수정
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewController.swift
Labels: client, bug

#117 애플로그인 구현
  client/Projects/CustomNetwork/CustomNetwork/URLRequestBuilder.swift
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/App/AppComponent.swift
  client/Projects/OpenList/OpenList/App/AppRouter.swift
  client/Projects/OpenList/OpenList/App/SceneDelegate.swift
  client/Projects/OpenList/OpenList/Data/DTO/LoginResponseDTO.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultAuthRepository.swift
  client/Projects/OpenList/OpenList/Domain/Entites/LoginInfo.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/AuthRepository.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/AuthUseCase.swift
  client/Projects/OpenList/OpenList/OpenListDebug.entitlements
  client/Projects/OpenList/OpenList/OpenListRelease.entitlements
  client/Projects/OpenList/OpenList/Scenes/LoginScene/LoginAction.swift
  client/Projects/OpenList/OpenList/Scenes/LoginScene/LoginRouter.swift
  client/Projects/OpenList/OpenList/Scenes/LoginScene/LoginViewController.swift
  client/Projects/OpenList/OpenList/Scenes/LoginScene/LoginViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/LoginScene/LoginViewModel.swift
  client/Projects/OpenList/OpenList/Utils/KeyChain/KeyChain.swift
Labels: client, feature

#126 [Server] Clova Studio api 구현
  server/src/app.module.ts
  server/src/checklist-ai/checklist-ai.controller.spec.ts
  server/src/checklist-ai/checklist-ai.controller.ts
  server/src/checklist-ai/checklist-ai.module.ts
  server/src/checklist-ai/checklist-ai.service.spec.ts
  server/src/checklist-ai/checklist-ai.service.ts
  server/src/checklist-ai/const/ai-options.const.ts
  server/src/checklist-ai/const/request-option.const.ts
  server/src/checklist-ai/const/system-role.const.ts
  server/src/checklist-ai/dto/create-checklist-items.dto.ts
  server/src/checklist-ai/entities/checklist-ai.entity.ts
Labels: server, feature

#129 [Server] AccessTokenGuard 구현 및 적용
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.spec.ts
  server/src/auth/guard/access-token.guard.ts
  server/src/folders/folders.controller.ts
  server/src/folders/folders.service.spec.ts
  server/src/folders/folders.service.ts
  server/src/folders/private-checklists/private-checklists.controller.ts
  server/src/folders/private-checklists/private-checklists.service.spec.ts
  server/src/folders/private-checklists/private-checklists.service.ts
  server/src/main.ts
  server/src/users/decorator/userId.decorator.ts
  server/src/users/entities/user.entity.ts
Labels: server, feature

#124 [FD1 - 1] 사용자가 만든 폴더들을 격자 형태로 보여준다.
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Colors/secondary1.colorset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Colors/secondary2.colorset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Colors/shadow1.colorset/Contents.json
  client/Projects/OpenList/OpenList/DesignSystem/Sources/OpenListNavigationItem.swift
  client/Projects/OpenList/OpenList/Extension/UIKit/CALayer+applySketchShadow.swift
  client/Projects/OpenList/OpenList/Extension/UIKit/UICollectionView+Extensions.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListFolderScene/CheckListFolderAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListFolderScene/CheckListFolderRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListFolderScene/CheckListFolderViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListFolderScene/CheckListFolderViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListFolderScene/CheckListFolderViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListFolderScene/View/CheckListFolderCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTopTabView.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/SharedCheckListScene/SharedCheckListAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/SharedCheckListScene/SharedCheckListRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/SharedCheckListScene/SharedCheckListViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/SharedCheckListScene/SharedCheckListViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/SharedCheckListScene/SharedCheckListViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/SharedCheckListScene/View/SharedCheckListCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewFactory.swift
Labels: client, feature

#132 체크리스트 진행률 오류 수정
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultCheckListRepository.swift
Labels: client, bug

#139 Server/feature/#128
  server/src/app.module.ts
  server/src/categories/categories.controller.spec.ts
  server/src/categories/categories.controller.ts
  server/src/categories/categories.module.ts
  server/src/categories/categories.service.spec.ts
  server/src/categories/categories.service.ts
  server/src/categories/const/categories.const.ts
  server/src/categories/const/valid-ids.const.ts
  server/src/folders/folders.controller.ts
Labels: server, feature

#140 [Server] 공유 체크리스트 API 및 소켓 작업 구현
  server/src/app.module.ts
  server/src/shared-checklists/dto/create-shared-checklist.dto.ts
  server/src/shared-checklists/entities/shared-checklist-item.entity.ts
  server/src/shared-checklists/entities/shared-checklist.entity.ts
  server/src/shared-checklists/shared-checklists.controller.ts
  server/src/shared-checklists/shared-checklists.gateway.ts
  server/src/shared-checklists/shared-checklists.module.ts
  server/src/shared-checklists/shared-checklists.service.ts
Labels: server, feature

#136 네트워크 모듈 수정
  client/Projects/CustomNetwork/CustomNetwork/NetworkService.swift
  client/Projects/CustomNetwork/CustomNetwork/URLRequestBuilder.swift
  client/Projects/CustomNetwork/CustomNetworkTests/NetworkServiceTests.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultAuthRepository.swift
Labels: enhancement, client

#146 [Server] 공유 체크리스트 아이템 권한 문제 및 uuid 문제 해결
  server/src/shared-checklists/dto/create-shared-checklist.dto.ts
  server/src/shared-checklists/shared-checklists.service.ts
Labels: server, bug

#144 [AI1 - 1] 사용자는 대 > 중 > 소 카테고리를 선택하며 AI 추천을 받을 수 있다
  .DS_Store
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/App/SceneDelegate.swift
  client/Projects/OpenList/OpenList/Data/DTO/CategoryResponseDTO.swift
  client/Projects/OpenList/OpenList/Data/DTO/RecommendChecklistResponseDTO.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultAuthRepository.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultCategoryRepository.swift
  client/Projects/OpenList/OpenList/DesignSystem/Sources/ConfirmButton.swift
  client/Projects/OpenList/OpenList/Domain/Entites/CategoryDTO.swift
  client/Projects/OpenList/OpenList/Domain/Entites/CategoryInfo.swift
  client/Projects/OpenList/OpenList/Domain/Entites/CategoryItem.swift
  client/Projects/OpenList/OpenList/Domain/Entites/RecommendChecklistItem.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/CategoryRepository.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/CategoryUseCase.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListTitleScene/AddCheckListTitleAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListTitleScene/AddCheckListTitleRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListTitleScene/AddCheckListTitleViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListTitleScene/AddCheckListTitleViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListTitleScene/AddCheckListTitleViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddTabRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddTabViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/MainCategoryAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/MainCategoryRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/MainCategoryViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/MainCategoryViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/MainCategoryViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/View/CategoryCollectionViewCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/View/CategoryHeaderView.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/View/CategoryProgressView.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/View/GradientStageCircle.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/View/GradientStageStick.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/View/SkipButton.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MinorCategoryScene/MinorCategoryAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MinorCategoryScene/MinorCategoryRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MinorCategoryScene/MinorCategoryViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MinorCategoryScene/MinorCategoryViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MinorCategoryScene/MinorCategoryViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/SubCategoryScene/SubCategoryAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/SubCategoryScene/SubCategoryRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/SubCategoryScene/SubCategoryViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/SubCategoryScene/SubCategoryViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/SubCategoryScene/SubCategoryViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewFactory.swift
Labels: client, feature

#148 [AI1 - 2] 사용자는 AI 추천을 더 받을 수 있고, 내 체크리스트로 선택해서 넣는다
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/minus.square.imageset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/minus.square.imageset/minusSquare.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/minus.square.imageset/minusSquare@2x.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/minus.square.imageset/minusSquare@3x.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/square.imageset/Contents.json
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/square.imageset/checkBox.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/square.imageset/checkBox@2x.png
  client/Projects/OpenList/OpenList/App/Resources/Assets.xcassets/Images/square.imageset/checkBox@3x.png
  client/Projects/OpenList/OpenList/Data/DTO/RecommendChecklistResponseDTO.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultCategoryRepository.swift
  client/Projects/OpenList/OpenList/Domain/Entites/CategoryInfo.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/CategoryUseCase.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemDiffableDataSource.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/View/AddCheckListItemButton.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/View/AddCheckListItemHeaderView.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/View/AddCheckListItemPlaceholder.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/View/AiCheckListCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/View/SelectCheckListCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/MainCategoryRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/MainCategoryViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MinorCategoryScene/MinorCategoryRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MinorCategoryScene/MinorCategoryViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/SubCategoryScene/SubCategoryRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/SubCategoryScene/SubCategoryViewFactory.swift
  client/Projects/OpenList/OpenList/Utils/AccessTokenInterceptor.swift
  client/Projects/OpenList/OpenList/Utils/LoadingIndicator.swift
Labels: client, feature

#149 사용자는 동시편집 화면에서 체크리스트를 수정 및 추가 할 수 있다.
  client/Projects/CRDT/CRDT/Operation/OpType.swift
  client/Projects/CustomNetwork/CustomNetworkTests/NetworkServiceTests.swift
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/App/SceneDelegate.swift
  client/Projects/OpenList/OpenList/Data/DTO/CRDTRequestDTO.swift
  client/Projects/OpenList/OpenList/Data/DTO/CRDTResponseDTO.swift
  client/Projects/OpenList/OpenList/Data/DTO/UserResponseDTO.swift
  client/Projects/OpenList/OpenList/Data/DTO/WithCheckListItemResponseDTO.swift
  client/Projects/OpenList/OpenList/Data/DTO/WithCheckListResponseDTO.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultCRDTRepository.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultCheckListRepository.swift
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultWithCheckListRepository.swift
  client/Projects/OpenList/OpenList/Data/Storages/PrivateCheckListStorage.swift
  client/Projects/OpenList/OpenList/Domain/Entites/CRDTRequestDTO.swift
  client/Projects/OpenList/OpenList/Domain/Entites/CRDTResponseDTO.swift
  client/Projects/OpenList/OpenList/Domain/Entites/User.swift
  client/Projects/OpenList/OpenList/Domain/Entites/WithCheckList.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/CRDTRepository.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/CheckListRepository.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/WithCheckListRepository.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/CRDTUseCase.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/DetailCheckListUseCase.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/PersistenceUseCase.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/WithCheckListUseCase.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddTabRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddTabViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTabViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/PrivateDetailCheckListScene/PrivateDetailCheckListAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/PrivateDetailCheckListScene/PrivateDetailCheckListViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/PrivateDetailCheckListScene/PrivateDetailCheckListViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/PrivateDetailCheckListScene/PrivateDetailCheckListViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/View/WithCheckListItem.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/DetailScene/WithDetailCheckListScene/WithDetailCheckListViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/WithCheckListScene/WithCheckListAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/WithCheckListScene/WithCheckListCell.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/WithCheckListScene/WithCheckListRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/WithCheckListScene/WithCheckListViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/WithCheckListScene/WithCheckListViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/WithCheckListScene/WithCheckListViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/TabBarViewFactory.swift
  client/Projects/OpenList/OpenList/Storage/CheckListStorage/DefaultPrivateCheckListStorage.swift
  client/Projects/OpenList/OpenList/Storage/CoreDataStorage/CoreDataStorage.xcdatamodeld/CoreDataStorage.xcdatamodel/contents
  client/Projects/OpenList/OpenList/Utils/DataStructure/LinkedList.swift
  client/Projects/OpenList/OpenList/Utils/KeyChain/AccessTokenInterceptor.swift
Labels: client, feature

#151 생성된 체크리스트 로컬에 저장하는 기능 구현
  client/Projects/OpenList/OpenList.xcodeproj/project.pbxproj
  client/Projects/OpenList/OpenList/Data/Repositories/DefaultCheckListRepository.swift
  client/Projects/OpenList/OpenList/Data/Storages/PrivateCheckListStorage.swift
  client/Projects/OpenList/OpenList/Domain/Repositories/CheckListRepository.swift
  client/Projects/OpenList/OpenList/Domain/UseCases/PersistenceUseCase.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemAction.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemDiffableDataSource.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemRouter.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemViewController.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListItemScene/AddCheckListItemViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListTitleScene/AddCheckListTitleViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/AddCheckListTitleScene/AddCheckListTitleViewModel.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MainCategoryScene/MainCategoryViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/MinorCategoryScene/MinorCategoryViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/AddTabScene/SubCategoryScene/SubCategoryViewFactory.swift
  client/Projects/OpenList/OpenList/Scenes/TabbarScene/CheckListTabScene/CheckListTableScene/CheckListTableViewController.swift
  client/Projects/OpenList/OpenList/Storage/CheckListStorage/DefaultPrivateCheckListStorage.swift
  client/Projects/OpenList/OpenList/Utils/App/OpenListNotificationName.swift
  client/Projects/OpenList/OpenList/Utils/App/ViewControllable.swift
Labels: client, feature
